[submodule "cookbooks/chef-autoshutdown"]
	path = cookbooks/chef-autoshutdown
	url = git://git.greensocs.com/chef-scripts/chef-autoshutdown.git
[submodule "cookbooks/chef-greenlib"]
	path = cookbooks/chef-greenlib
	url = git://git.greensocs.com/chef-scripts/chef-greenlib.git
[submodule "cookbooks/chef-http_proxy"]
	path = cookbooks/chef-http_proxy
	url = git://git.greensocs.com/chef-scripts/chef-http-proxy.git
[submodule "cookbooks/chef-qemu"]
	path = cookbooks/chef-qemu
	url = git://git.greensocs.com/chef-scripts/chef-qemu.git
[submodule "cookbooks/chef-systemc"]
	path = cookbooks/chef-systemc
	url = git://git.greensocs.com/chef-scripts/chef-systemc.git
[submodule "GSProject"]
	path = GSProject
	url = git://projects.greensocs.com/gs-platforms.git
[submodule "cookbooks/chef-arm-a15-linux-sample"]
	path = cookbooks/chef-arm-a15-linux-sample
	url = git://projects.greensocs.com/chef-scripts/chef-arm-a15-linux-sample.git
[submodule "cookbooks/chef-eclipse"]
	path = cookbooks/chef-eclipse
	url = git://projects.greensocs.com/chef-scripts/chef-eclipse.git
